
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #f24a71;
    border-color: #f24a71;
}

.btn-primary:hover {
    background-color: #f24a71;
    border-color: #f24a71;
}
